*.ts                        @centreon/owners-react
*.tsx                       @centreon/owners-react
*.js                        @centreon/owners-react
*.jsx                       @centreon/owners-react
package.json                @centreon/owners-react
package-lock.json           @centreon/owners-react

*.php                       @centreon/owners-php
*.xml                       @centreon/owners-php
**/composer.*               @centreon/owners-php

*.feature                   @centreon/owners-gherkin

# Pipelines Codeowners rules
.github/**                    @centreon/owners-pipelines
.yamlfix.toml                 @centreon/owners-pipelines

# Security Codeowners rules
.gitleaks.toml                @centreon/owners-security
.gitleaksignore               @centreon/owners-security
.githooks/pre-commit          @centreon/owners-security
**/secu-*.yml                 @centreon/owners-security